body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:40px;
  width:650px;
  height:200px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:92px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:620px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:30px;
}
#u3 {
  position:absolute;
  left:8px;
  top:6px;
  width:610px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:630px;
  top:10px;
  width:30px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:74px;
  width:80px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:120px;
  top:74px;
  width:440px;
  height:30px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:30px;
}
#u9 {
  position:absolute;
  left:8px;
  top:6px;
  width:430px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:120px;
  width:80px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:120px;
  top:120px;
  width:390px;
  height:30px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u13 {
  position:absolute;
  left:8px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:200px;
  top:190px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:370px;
  top:190px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:350px;
  top:180px;
  width:130px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:630px;
  top:10px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:560px;
  top:74px;
  width:70px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:510px;
  top:120px;
  width:120px;
  height:30px;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23 {
  position:absolute;
  left:8px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:680px;
  top:120px;
  width:70px;
  height:30px;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u25 {
  position:absolute;
  left:8px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:680px;
  top:150px;
  width:70px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u27 {
  position:absolute;
  left:8px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:680px;
  top:180px;
  width:70px;
  height:30px;
  color:#41B745;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u29 {
  position:absolute;
  left:8px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:630px;
  top:129px;
  width:50px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
