body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:11px;
  top:6px;
  width:375px;
  height:790px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:790px;
}
#u2 {
  position:absolute;
  left:2px;
  top:387px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:120px;
  width:320px;
  height:568px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u4 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:120px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:40px;
  top:160px;
  width:320px;
  height:50px;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u8 {
  position:absolute;
  left:50px;
  top:7px;
  width:268px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:44px;
  top:165px;
  width:36px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:40px;
  top:210px;
  width:320px;
  height:50px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u12 {
  position:absolute;
  left:50px;
  top:7px;
  width:268px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:44px;
  top:215px;
  width:36px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:40px;
  top:260px;
  width:280px;
  height:50px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u16 {
  position:absolute;
  left:50px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:310px;
  width:280px;
  height:50px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u18 {
  position:absolute;
  left:50px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:44px;
  top:265px;
  width:36px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:44px;
  top:315px;
  width:36px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:320px;
  top:260px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:320px;
  top:310px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:108px;
  top:370px;
  width:183px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:40px;
  top:120px;
  width:50px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:40px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u33 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:168px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u35 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:296px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u37 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:232px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u39 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:104px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u41 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:152px;
  top:650px;
  width:16px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u43 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:62px;
  top:653px;
  width:20px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:126px;
  top:653px;
  width:20px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:190px;
  top:653px;
  width:20px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:254px;
  top:653px;
  width:20px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:318px;
  top:653px;
  width:20px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:168px;
  top:650px;
  width:64px;
  height:38px;
  opacity:0.400000005960464;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u55 {
  position:absolute;
  left:2px;
  top:11px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:168px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#434F65;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u58 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:190px;
  top:653px;
  width:20px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
