body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:11px;
  top:6px;
  width:375px;
  height:790px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:790px;
}
#u2 {
  position:absolute;
  left:2px;
  top:387px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:120px;
  width:320px;
  height:568px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u4 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:120px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u9 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:168px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:296px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u13 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:232px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:104px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u17 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:152px;
  top:650px;
  width:16px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:62px;
  top:653px;
  width:20px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:126px;
  top:653px;
  width:20px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:190px;
  top:653px;
  width:20px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:254px;
  top:653px;
  width:20px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:318px;
  top:653px;
  width:20px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:410px;
  top:568px;
  width:150px;
  height:142px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:142px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:340px;
  top:595px;
  width:70px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u33 {
  position:absolute;
  left:410px;
  top:568px;
  width:150px;
  height:142px;
  opacity:0.400000005960464;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:142px;
}
#u34 {
  position:absolute;
  left:2px;
  top:63px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:160px;
  width:160px;
  height:132px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:134px;
}
#u36 {
  position:absolute;
  left:2px;
  top:58px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:200px;
  top:160px;
  width:160px;
  height:132px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:134px;
}
#u38 {
  position:absolute;
  left:2px;
  top:58px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:41px;
  top:292px;
  width:159px;
  height:132px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:134px;
}
#u40 {
  position:absolute;
  left:2px;
  top:58px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:200px;
  top:292px;
  width:160px;
  height:132px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:134px;
}
#u42 {
  position:absolute;
  left:2px;
  top:58px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:40px;
  top:424px;
  width:160px;
  height:134px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:136px;
}
#u44 {
  position:absolute;
  left:2px;
  top:59px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:40px;
  top:160px;
  width:320px;
  height:398px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:40px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#434F65;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u48 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:62px;
  top:653px;
  width:20px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:40px;
  top:516px;
  width:159px;
  height:42px;
  opacity:0.699999988079071;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:42px;
}
#u52 {
  position:absolute;
  left:2px;
  top:13px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:40px;
  top:516px;
  width:160px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:200px;
  top:382px;
  width:160px;
  height:42px;
  opacity:0.699999988079071;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
}
#u56 {
  position:absolute;
  left:2px;
  top:13px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:41px;
  top:382px;
  width:159px;
  height:42px;
  opacity:0.699999988079071;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:42px;
}
#u58 {
  position:absolute;
  left:2px;
  top:13px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:41px;
  top:250px;
  width:159px;
  height:42px;
  opacity:0.699999988079071;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:42px;
}
#u60 {
  position:absolute;
  left:2px;
  top:13px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:201px;
  top:250px;
  width:159px;
  height:42px;
  opacity:0.699999988079071;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:42px;
}
#u62 {
  position:absolute;
  left:2px;
  top:13px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:40px;
  top:382px;
  width:160px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:40px;
  top:250px;
  width:160px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:200px;
  top:250px;
  width:160px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:201px;
  top:382px;
  width:159px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:42px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
