body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1365px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  position:absolute;
  left:0px;
  top:53px;
  width:1280px;
  height:1365px;
}
#u185 {
  position:absolute;
  left:2px;
  top:674px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 45, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:53px;
  font-size:28px;
}
#u188 {
  position:absolute;
  left:2px;
  top:18px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 45, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u189 {
  position:absolute;
  left:141px;
  top:0px;
  width:107px;
  height:53px;
  font-size:20px;
  color:#F2F2F2;
}
#u190 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 45, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u191 {
  position:absolute;
  left:248px;
  top:0px;
  width:107px;
  height:53px;
  font-size:20px;
  color:#F2F2F2;
}
#u192 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 45, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u193 {
  position:absolute;
  left:355px;
  top:0px;
  width:107px;
  height:53px;
  font-size:20px;
  color:#F2F2F2;
}
#u194 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 45, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u195 {
  position:absolute;
  left:461px;
  top:0px;
  width:107px;
  height:53px;
  font-size:20px;
  color:#F2F2F2;
}
#u196 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 45, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u197 {
  position:absolute;
  left:568px;
  top:0px;
  width:107px;
  height:53px;
  font-size:20px;
  color:#F2F2F2;
}
#u198 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 45, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u199 {
  position:absolute;
  left:673px;
  top:0px;
  width:107px;
  height:53px;
  font-size:20px;
  color:#F2F2F2;
}
#u200 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 45, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#F2F2F2;
}
#u201 {
  position:absolute;
  left:1078px;
  top:0px;
  width:140px;
  height:53px;
  font-size:18px;
  color:#F2F2F2;
}
#u202 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 45, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u203 {
  position:absolute;
  left:1218px;
  top:0px;
  width:62px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u204 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:53px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:53px;
}
#u206 {
  position:absolute;
  left:2px;
  top:18px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  position:absolute;
  left:20px;
  top:63px;
  width:1240px;
  height:56px;
}
#u208 {
  position:absolute;
  left:2px;
  top:20px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u209 {
  position:absolute;
  left:32px;
  top:75px;
  width:121px;
  height:33px;
  font-size:24px;
  color:#666666;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u211 {
  position:absolute;
  left:163px;
  top:75px;
  width:49px;
  height:33px;
  font-size:24px;
  color:#CC3300;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u213 {
  position:absolute;
  left:244px;
  top:75px;
  width:73px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#002D61;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u215 {
  position:absolute;
  left:356px;
  top:75px;
  width:73px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#002D61;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u217 {
  position:absolute;
  left:480px;
  top:75px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#002D61;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u219 {
  position:absolute;
  left:610px;
  top:75px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#002D61;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 29, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u221 {
  position:absolute;
  left:248px;
  top:0px;
  width:107px;
  height:53px;
  font-size:20px;
  color:#F2F2F2;
}
#u222 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:415px;
}
#u224 {
  position:absolute;
  left:0px;
  top:1418px;
  width:1280px;
  height:415px;
}
#u225 {
  position:absolute;
  left:2px;
  top:200px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:48px;
}
#u226 {
  position:absolute;
  left:1209px;
  top:1780px;
  width:56px;
  height:48px;
}
#u227 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:152px;
}
#u228 {
  position:absolute;
  left:1103px;
  top:1638px;
  width:151px;
  height:152px;
}
#u229 {
  position:absolute;
  left:2px;
  top:68px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u230 {
  position:absolute;
  left:1138px;
  top:1796px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:50px;
}
#u232 {
  position:absolute;
  left:330px;
  top:1362px;
  width:486px;
  height:50px;
}
#u233 {
  position:absolute;
  left:2px;
  top:17px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  font-size:36px;
  color:#FFFFFF;
}
#u234 {
  position:absolute;
  left:19px;
  top:129px;
  width:400px;
  height:510px;
  font-size:36px;
  color:#FFFFFF;
}
#u235 {
  position:absolute;
  left:2px;
  top:247px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  font-size:36px;
  color:#FFFFFF;
}
#u236 {
  position:absolute;
  left:441px;
  top:129px;
  width:400px;
  height:510px;
  font-size:36px;
  color:#FFFFFF;
}
#u237 {
  position:absolute;
  left:2px;
  top:247px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  font-size:36px;
  color:#FFFFFF;
}
#u238 {
  position:absolute;
  left:861px;
  top:129px;
  width:400px;
  height:510px;
  font-size:36px;
  color:#FFFFFF;
}
#u239 {
  position:absolute;
  left:2px;
  top:247px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u240 {
  position:absolute;
  left:19px;
  top:129px;
  width:400px;
  height:400px;
}
#u241 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u242 {
  position:absolute;
  left:441px;
  top:129px;
  width:400px;
  height:400px;
}
#u243 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u244 {
  position:absolute;
  left:861px;
  top:129px;
  width:400px;
  height:400px;
}
#u245 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  font-size:36px;
  color:#FFFFFF;
}
#u246 {
  position:absolute;
  left:20px;
  top:661px;
  width:400px;
  height:510px;
  font-size:36px;
  color:#FFFFFF;
}
#u247 {
  position:absolute;
  left:2px;
  top:247px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  font-size:36px;
  color:#FFFFFF;
}
#u248 {
  position:absolute;
  left:442px;
  top:661px;
  width:400px;
  height:510px;
  font-size:36px;
  color:#FFFFFF;
}
#u249 {
  position:absolute;
  left:2px;
  top:247px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  font-size:36px;
  color:#FFFFFF;
}
#u250 {
  position:absolute;
  left:862px;
  top:661px;
  width:400px;
  height:510px;
  font-size:36px;
  color:#FFFFFF;
}
#u251 {
  position:absolute;
  left:2px;
  top:247px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u252 {
  position:absolute;
  left:20px;
  top:661px;
  width:400px;
  height:400px;
}
#u253 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u254 {
  position:absolute;
  left:442px;
  top:661px;
  width:400px;
  height:400px;
}
#u255 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u256 {
  position:absolute;
  left:862px;
  top:661px;
  width:400px;
  height:400px;
}
#u257 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u258 {
  position:absolute;
  left:682px;
  top:661px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u259 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u260 {
  position:absolute;
  left:1102px;
  top:661px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u261 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u262 {
  position:absolute;
  left:1102px;
  top:129px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u263 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u264 {
  position:absolute;
  left:260px;
  top:661px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u265 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u266 {
  position:absolute;
  left:260px;
  top:129px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u267 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u268 {
  position:absolute;
  left:682px;
  top:129px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#002D61;
}
#u269 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:19px;
  top:129px;
  width:1242px;
  height:1042px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:28px;
}
#u271 {
  position:absolute;
  left:20px;
  top:544px;
  width:400px;
  height:28px;
  font-size:24px;
}
#u272 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:28px;
}
#u273 {
  position:absolute;
  left:442px;
  top:544px;
  width:400px;
  height:28px;
  font-size:24px;
}
#u274 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:33px;
}
#u275 {
  position:absolute;
  left:862px;
  top:539px;
  width:400px;
  height:33px;
  font-size:24px;
}
#u276 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
}
#u277 {
  position:absolute;
  left:20px;
  top:595px;
  width:400px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u278 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
}
#u279 {
  position:absolute;
  left:442px;
  top:595px;
  width:400px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u280 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
}
#u281 {
  position:absolute;
  left:862px;
  top:595px;
  width:400px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u282 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:28px;
}
#u283 {
  position:absolute;
  left:21px;
  top:1075px;
  width:400px;
  height:28px;
  font-size:24px;
}
#u284 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:28px;
}
#u285 {
  position:absolute;
  left:443px;
  top:1075px;
  width:400px;
  height:28px;
  font-size:24px;
}
#u286 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:33px;
}
#u287 {
  position:absolute;
  left:863px;
  top:1070px;
  width:400px;
  height:33px;
  font-size:24px;
}
#u288 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
}
#u289 {
  position:absolute;
  left:21px;
  top:1126px;
  width:400px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u290 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
}
#u291 {
  position:absolute;
  left:443px;
  top:1126px;
  width:400px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u292 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
}
#u293 {
  position:absolute;
  left:863px;
  top:1126px;
  width:400px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u294 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
