body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:11px;
  top:6px;
  width:375px;
  height:790px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:790px;
}
#u2 {
  position:absolute;
  left:2px;
  top:387px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:120px;
  width:320px;
  height:568px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u4 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:120px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:310px;
  top:120px;
  width:50px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:40px;
  top:190px;
  width:280px;
  height:50px;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u10 {
  position:absolute;
  left:50px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:44px;
  top:195px;
  width:36px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:320px;
  top:190px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:40px;
  top:240px;
  width:280px;
  height:50px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u16 {
  position:absolute;
  left:50px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:44px;
  top:245px;
  width:36px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:320px;
  top:240px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:290px;
  width:280px;
  height:50px;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u22 {
  position:absolute;
  left:50px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:44px;
  top:295px;
  width:36px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:320px;
  top:290px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:32px;
  width:36px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:40px;
  top:340px;
  width:280px;
  height:50px;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u28 {
  position:absolute;
  left:50px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:44px;
  top:345px;
  width:36px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:320px;
  top:340px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:40px;
  top:390px;
  width:280px;
  height:50px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u34 {
  position:absolute;
  left:50px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:44px;
  top:395px;
  width:36px;
  height:40px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:320px;
  top:390px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:330px;
  top:297px;
  width:20px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:40px;
  top:440px;
  width:280px;
  height:50px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u42 {
  position:absolute;
  left:50px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:320px;
  top:440px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u44 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:40px;
  top:490px;
  width:280px;
  height:50px;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u46 {
  position:absolute;
  left:50px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:40px;
  top:540px;
  width:280px;
  height:50px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u48 {
  position:absolute;
  left:50px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:320px;
  top:540px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u50 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:40px;
  top:590px;
  width:280px;
  height:50px;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u52 {
  position:absolute;
  left:50px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:44px;
  top:445px;
  width:36px;
  height:40px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:44px;
  top:495px;
  width:36px;
  height:40px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:44px;
  top:545px;
  width:36px;
  height:40px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:44px;
  top:595px;
  width:36px;
  height:40px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:320px;
  top:490px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:320px;
  top:590px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:40px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u67 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:168px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u69 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:296px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u71 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:232px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u73 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:104px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u75 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:152px;
  top:650px;
  width:16px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u77 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:62px;
  top:653px;
  width:20px;
  height:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:126px;
  top:653px;
  width:20px;
  height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:190px;
  top:653px;
  width:20px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:254px;
  top:653px;
  width:20px;
  height:20px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u85 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:318px;
  top:653px;
  width:20px;
  height:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:50px;
  top:165px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u89 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:110px;
  top:165px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u91 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:170px;
  top:165px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:230px;
  top:165px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u95 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:290px;
  top:165px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u97 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:168px;
  top:650px;
  width:64px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#434F65;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
}
#u100 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:190px;
  top:653px;
  width:20px;
  height:20px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:324px;
  top:126px;
  width:26px;
  height:28px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
