body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1104px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:8px;
  width:1096px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:50px;
  width:120px;
  height:650px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:650px;
}
#u4 {
  position:absolute;
  left:2px;
  top:317px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:50px;
  width:120px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u6 {
  position:absolute;
  left:16px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:160px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:800px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:940px;
  top:0px;
  width:90px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1030px;
  top:0px;
  width:70px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:120px;
  top:80px;
  width:980px;
  height:620px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:620px;
}
#u20 {
  position:absolute;
  left:2px;
  top:302px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:340px;
  top:50px;
  width:120px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u22 {
  position:absolute;
  left:8px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:232px;
  top:50px;
  width:120px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u24 {
  position:absolute;
  left:8px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:124px;
  top:50px;
  width:120px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u26 {
  position:absolute;
  left:8px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1094px;
  top:50px;
  width:10px;
  height:30px;
}
#u27_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u27_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u27_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u28 {
  position:absolute;
  left:0px;
  top:160px;
  width:120px;
  height:40px;
  opacity:0.400000005960464;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
