body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:40px;
  width:650px;
  height:240px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:240px;
}
#u1 {
  position:absolute;
  left:2px;
  top:112px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:620px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:30px;
}
#u3 {
  position:absolute;
  left:8px;
  top:6px;
  width:610px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:630px;
  top:10px;
  width:30px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:74px;
  width:110px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:150px;
  top:74px;
  width:480px;
  height:30px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:30px;
}
#u9 {
  position:absolute;
  left:8px;
  top:6px;
  width:470px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:120px;
  width:110px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:150px;
  top:120px;
  width:480px;
  height:30px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:30px;
}
#u13 {
  position:absolute;
  left:8px;
  top:6px;
  width:470px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:40px;
  top:170px;
  width:110px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:150px;
  top:170px;
  width:480px;
  height:30px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:30px;
}
#u17 {
  position:absolute;
  left:8px;
  top:6px;
  width:470px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:200px;
  top:230px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:370px;
  top:230px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:180px;
  top:220px;
  width:300px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:630px;
  top:10px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
